.offcanvas .menu-item {
    transition: all 0.2s ease-in-out;
}

.offcanvas .menu-item:hover {
    background-color: #f8f9fa;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
}

.offcanvas .menu-icon {
    margin-right: 10px;
    font-size: 1.5rem;
    color: #212529;
}