.container-fluid {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    @media (min-width: 768px) {
        #product-immage {
        max-width: 30%; /* Riduci la larghezza dell'immagine */
        height: auto; /* Mantieni le proporzioni */
        display: block;
        margin: 0 auto; /* Centra l'immagine */
    }
    }
}