.container-fluid {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-img-top {
    max-width: 100%;
    height: auto;
}

@media (min-width: 768px) {
    .card-img-top {
        max-width: 50%;
    }

}